@{
    ViewBag.Title = "Offers List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model SuperMarket.Models.OfferType

<link href="~/Areas/Admin/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Areas/Admin/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Areas/Admin/css/ui.jqgrid.min.css" rel="stylesheet" />
<link href="~/Areas/Admin/css/ace.min.css" rel="stylesheet" />
@using (@Html.BeginForm("Index", "OfferType", FormMethod.Post))
{
    <h2>OfferType Specifications</h2>
    if (ViewData["Status"].ToString() == "Success")
    {
        <div class="success alert-success alert-dismissable fade in">
            @*<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>*@
            <strong>Success!</strong> Saved to Database Successfully.
        </div>
    }
    if (ViewData["Status"].ToString() == "Fail")
    {
        <div class="alert alert-danger  alert-dismissable fade in">
            <strong>Warning!</strong> Error in Saving Value.
        </div>
    }
<div class="col-sm-12">
    <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title lighter">
                <i class="ace-icon fa fa-signal"></i>
                Offer Type Specifications
            </h4>

            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <div class="row">
                <div class="form-control">
                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                        @*  <label class="control-label" for="form-field-1"> Brand Name </label>*@
                        @*  <label class="control-label no-padding-right" for="form-field-1"> Brand Name </label>*@
                        @Html.Label("form-field-1", "Offer Name", new { @class = "control-label no-padding-right" })
                    </div>
                    <div class="col-md-6">
                        @* <input type="text" id="form-field-1" placeholder="Username" class="col-xs-10 col-sm-5" />*@
                      @Html.TextBoxFor(m => m.OfferName, null, new { @class = "col-md-6", @id = "form-field-1", placeholder = "Offer Name" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-control">
                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                        @*  <label class="control-label" for="form-field-1"> Brand Name </label>*@
                        @*  <label class="control-label no-padding-right" for="form-field-1"> Brand Name </label>*@
                        @Html.Label("form-field-1", "Offer On", new { @class = "control-label no-padding-right" })
                    </div>
                    <div class="col-md-6">
                      
                        @* <input type="text" id="form-field-1" placeholder="Username" class="col-xs-10 col-sm-5" />*@
                        <div class="control-group">
                            <div class="radio">
                                @*<label>*@
                                    @Html.RadioButtonFor(m => m.OfferOn, "Product Level", new { @class = "lbl" })
                                    <span class="lbl">Product Level</span>
                                @*</label>*@
                            </div>

                            <div class="radio">
                                @Html.RadioButtonFor(m => m.OfferOn, "Category Level", new { @class = "lbl" })
                                <span class="lbl">Category Level</span>
                            </div>

                            <div class="radio">
                                @Html.RadioButtonFor(m => m.OfferOn, "Sub-Category Level", new { @class = "lbl" })
                                <span class="lbl">Sub-Category Level</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-control">
                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                        @*  <label class="control-label" for="form-field-1"> Brand Name </label>*@
                        @*  <label class="control-label no-padding-right" for="form-field-1"> Brand Name </label>*@
                        @Html.Label("form-field-1", "Offer Range", new { @class = "control-label no-padding-right" })
                    </div>
                    <div class="col-md-6">
                        <div class="input-daterange input-group">
                            @Html.TextBoxFor(m => m.StartDate, null, new { @class = "input-sm form-control", @id = "form-field-1", placeholder = "Start Date" })
                            @*<input type="text" class="input-sm form-control" name="start" />*@
                            <span class="input-group-addon">
                                <i class="fa fa-exchange"></i>
                            </span>
                            @Html.TextBoxFor(m => m.EndDate, null, new { @class = "input-sm form-control", @id = "form-field-1", placeholder = "Start Date" })
                            @*<input type="text" class="input-sm form-control" name="end" />*@
                        </div>

                    </div>
                </div>
            </div>
            <div class="row" style="height:15px !important;">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-12">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="submit" value="Submit" class="btn btn-info" onclick='' />

                                &nbsp; &nbsp; &nbsp;
                                <input type="reset" value="Reset" class="btn btn-info" onclick='' />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.widget-body -->
    </div>
</div>
<div class="col-sm-12">
    <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title lighter">
                <i class="ace-icon fa fa-signal"></i>
                Data
            </h4>

            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <table id="jqGrid"></table>
            <div id="jqControls"></div>
        </div><!-- /.widget-body -->
    </div>
</div>
}
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Areas/Admin/js/jquery.maskedinput.min.js"></script>
<script src="~/Areas/Admin/js/ace-extra.min.js"></script>
<script src="~/Scripts/jquery-ui-1.10.0.js"></script>
<script src="~/Scripts/i18n/grid.locale-en.js"></script>
<script src="~/Scripts/jquery.jqGrid.min.js"></script>
<script src="~/Areas/Admin/js/daterangepicker.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#jqGrid").jqGrid({
            url: 'GetOffers',
            datatype: 'json',
            mtype: 'Get',
            colNames: ['OfferTypeId', 'OfferName', 'StartDate', 'EndDate'],
            colModel: [
                { key: true, hidden: true, name: 'OfferTypeId', index: 'OfferTypeId', editable: true },
                { key: false, name: 'OfferName', index: 'OfferName', editable: true },
                { key: false, name: 'StartDate', index: 'StartDate', editable: true },
                { key: false, name: 'EndDate', index: 'EndDate', editable: true }
            ],
            pager: jQuery('#jqControls'),
            rowNum: 10,
            rowList: [10, 20, 30, 40, 50],
            height: '100%',
            viewrecords: true,
            caption: 'Offer Type Records',
            emptyrecords: 'No Offer Type Records are Available to Display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                Id: "0"
            },
            autowidth: true,
            multiselect: false
        }).navGrid('#jqControls', { edit: true, add: false, del: true, search: false, refresh: true },
            {
                zIndex: 100,
                url: "Edit",
                closeOnEscape: true,
                closeAfterEdit: true,
                recreateForm: true,
                afterComplete: function (response) {
                    if (response.responseText) {
                        alert(response.responseText);
                    }
                }
            },
            {
                zIndex: 100,
                url: "Delete",
                closeOnEscape: true,
                closeAfterDelete: true,
                recreateForm: true,
                msg: "Are you sure you want to delete Student... ? ",
                afterComplete: function (response) {
                    if (response.responseText) {
                        alert(response.responseText);
                    }
                }
            });
    });
</script>
<script type="text/javascript">
    jQuery(function ($) {

        $('#chosen-multiple-style .btn').on('click', function (e) {
            var target = $(this).find('input[type=radio]');
            var which = parseInt(target.val());
            if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
            else $('#form-field-select-4').removeClass('tag-input-style');
        });
        $('#timepicker1').timepicker({
            minuteStep: 1,
            showSeconds: true,
            showMeridian: false,
            disableFocus: true,
            icons: {
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down'
            }
        }).on('focus', function () {
            $('#timepicker1').timepicker('showWidget');
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
        $('.input-daterange').datepicker({ autoclose: true });

        $('input[name=date-range-picker]').daterangepicker({
            'applyClass': 'btn-sm btn-success',
            'cancelClass': 'btn-sm btn-default',
            locale: {
                applyLabel: 'Apply',
                cancelLabel: 'Cancel',
            }
        })
				.prev().on(ace.click_event, function () {
				    $(this).next().focus();
				});
    });
</script>