@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model SuperMarket.Models.Supplier

<link href="~/Areas/Admin/css/font-awesome.min.css" rel="stylesheet" />

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
@using (@Html.BeginForm("Index", "Manufacturer", FormMethod.Post))
{
    <div class="col-sm-12">
        <div class="widget-box transparent">

            <div class="widget-header widget-header-flat">
                <h4 class="widget-title lighter">
                    <i class="ace-icon fa fa-signal"></i>
                    Manufacturer's Information
                </h4>
                <div class="widget-toolbar">
                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="form-control">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">
                            @*  <label class="control-label" for="form-field-1"> Brand Name </label>*@
                            @*  <label class="control-label no-padding-right" for="form-field-1"> Brand Name </label>*@
                            @Html.Label("form-field-1", "Manufacturer Name", new { @class = "control-label no-padding-right" })

                        </div>
                        <div class="col-md-6">
                            @* <input type="text" id="form-field-1" placeholder="Username" class="col-xs-10 col-sm-5" />*@
                            @Html.TextBoxFor(m => m.SupplierNmae, null, new { @class = "col-md-6", @id = "form-field-1", placeholder = "Manufactuerer Name" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-control">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">
                            @*  <label class="control-label" for="form-field-1"> Brand Name </label>*@
                            @*  <label class="control-label no-padding-right" for="form-field-1"> Brand Name </label>*@
                            @Html.Label("form-field-1", "Manufacturer Address", new { @class = "control-label no-padding-right" })

                        </div>
                        <div class="col-md-3">
                            @* <input type="text" id="form-field-1" placeholder="Username" class="col-xs-10 col-sm-5" />*@
                            @Html.TextBoxFor(m => m.Address, null, new { TextBoxMode = "MultiLine", @class = "form-control", @id = "form-field-11", placeholder = "Manufacturer Address", @style = "border: 1px solid #D5D5D5;" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-control">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">
                            @*  <label class="control-label" for="form-field-1"> Brand Name </label>*@
                            @*  <label class="control-label no-padding-right" for="form-field-1"> Brand Name </label>*@
                            @Html.Label("form-field-1", "Description", new { @class = "control-label no-padding-right" })
                        </div>
                        <div class="col-md-3">
                            @* <input type="text" id="form-field-1" placeholder="Username" class="col-xs-10 col-sm-5" />*@
                            @Html.TextBoxFor(m => m.Description, null, new { TextBoxMode = "MultiLine", @class = "form-control", @id = "form-field-11", placeholder = "Description", @style = "border: 1px solid #D5D5D5;" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-control">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">
                            @*  <label class="control-label" for="form-field-1"> Brand Name </label>*@
                            @*  <label class="control-label no-padding-right" for="form-field-1"> Brand Name </label>*@
                            @Html.Label("form-field-1", "Manufacturer Mobile", new { @class = "control-label no-padding-right" })

                        </div>
                        <div class="col-md-3">
                            @* <input type="text" id="form-field-1" placeholder="Username" class="col-xs-10 col-sm-5" />*@
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="ace-icon fa fa-phone"></i>
                                </span>
                                @Html.TextBoxFor(m => m.mobileNumber, null, new { @class = "form-control input-mask-phone", @id = "form-field-mask-2", placeholder = "Manufacturer Mobile" })
                                @*   <input class="form-control input-mask-phone" type="text" id="form-field-mask-2" />*@
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-12">
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="submit" value="Submit" class="btn btn-info" onclick='' />

                                    &nbsp; &nbsp; &nbsp;
                                    <input type="submit" value="Reset" class="btn btn-info" onclick='' />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.widget-body -->
        </div>
    </div>

    <div class="col-sm-12">
        <div class="widget-box transparent">
            <div class="widget-header widget-header-flat">
                <h4 class="widget-title lighter">
                    <i class="ace-icon fa fa-signal"></i>
                    Data
                </h4>

                <div class="widget-toolbar">
                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <table id="jqGrid"></table>
                <div id="jqControls"></div>
            </div><!-- /.widget-body -->
        </div>
    </div>
}
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Areas/Admin/js/jquery.maskedinput.min.js"></script>
<script src="~/Areas/Admin/js/ace-extra.min.js"></script>
<script src="~/Scripts/jquery-ui-1.10.0.js"></script>
<script src="~/Scripts/i18n/grid.locale-en.js"></script>

<script src="~/Scripts/jquery.jqGrid.min.js"></script>
<script src="~/Areas/Admin/js/script.js"></script>
<script type="text/javascript">

    jQuery(function ($) {
        $.mask.definitions['~'] = '[+-]';
        $('.input-mask-date').mask('99/99/9999');
        $('.input-mask-phone').mask('(99) 999-999-9999');
        $('.input-mask-eyescript').mask('~9.99 ~9.99 999');
        $(".input-mask-product").mask("a*-999-a999", { placeholder: " ", completed: function () { alert("You typed the following: " + this.val()); } });
    });
</script>