@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model SuperMarket.Models.Attribute
<link href="~/Areas/Admin/css/bootstrap-tagsinput.css" rel="stylesheet" />
<link href="~/Areas/Admin/css/font-awesome.min.css" rel="stylesheet" />
@using (@Html.BeginForm("Index", "Attribute", FormMethod.Post))
{
<div class="col-sm-12">
    <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title lighter">
                <i class="ace-icon fa fa-signal"></i>
                Attribute's Information
            </h4>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <div class="row">
                <div class="form-control">
                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                        @Html.Label("form-field-1", "Attribute Name", new { @class = "control-label no-padding-right" })

                    </div>
                    <div class="col-md-6">
                        @* <input type="text" id="form-field-1" placeholder="Username" class="col-xs-10 col-sm-5" />*@
                        @Html.TextBoxFor(m => m.AttributeName, null, new { @class = "col-md-6", @id = "form-field-1", placeholder = "Attribute Name" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-control">
                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                        @*  <label class="control-label" for="form-field-1"> Brand Name </label>*@
                        @*  <label class="control-label no-padding-right" for="form-field-1"> Brand Name </label>*@
                        @Html.Label("form-field-1", "Attribute Value", new { @class = "control-label no-padding-right" })

                    </div>
                    <div class="col-md-3">
                     @*   <input type="text" name="tags" id="form-field-tags" value="Tag Input Control" placeholder="" />*@
                       @* <input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput" />*@
                      @Html.TextBoxFor(m => m.AttributeValues, null, new { @class = "col-md-7", @id = "form-field-tags", placeholder = "Attribute Value", data_role = "tagsinput" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-12">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="submit" value="Submit" id="sim" class="btn btn-info" onclick='' />

                                &nbsp; &nbsp; &nbsp;
                                <input type="reset" value="Reset" class="btn btn-info" onclick='' />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div><!-- /.widget-body -->
        <div class="row">
            <div class="widget-box transparent">
                <div class="widget-header widget-header-flat">
                    <h4 class="widget-title lighter">
                        <i class="ace-icon fa fa-signal"></i>
                        Data
                    </h4>

                    <div class="widget-toolbar">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="widget-body">
                    <table id="jqGrid"></table>
                    <div id="jqControls"></div>

                </div><!-- /.widget-body -->
            </div>

        </div>
    </div>
</div>
}
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Areas/Admin/js/jquery.maskedinput.min.js"></script>
<script src="~/Areas/Admin/js/ace-extra.min.js"></script>
<script src="~/Scripts/jquery-ui-1.10.0.js"></script>
<script src="~/Scripts/i18n/grid.locale-en.js"></script>
<script src="~/Scripts/jquery.jqGrid.min.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
     
        $('#id-input-file-1 , #id-input-file-2').ace_file_input({
            no_file: 'No File ...',
            btn_choose: 'Choose',
            btn_change: 'Change',
            droppable: false,
            onchange: null,
            thumbnail: false //| true | large
            //whitelist:'gif|png|jpg|jpeg'
            //blacklist:'exe|php'
            //onchange:''
            //
        });
        var tag_input = $('#form-field-tags');
        try {
            tag_input.tag(
              {
                  //placeholder: tag_input.attr('placeholder'),
                  //enable typeahead by specifying the source array
                  //source: ace.vars['US_STATES'],//defined in ace.js >> ace.enable_search_ahead
                  /**
                  //or fetch data from database, fetch those that match "query"
                  source: function(query, process) {
                    $.ajax({url: 'remote_source.php?q='+encodeURIComponent(query)})
                    .done(function(result_items){
                      process(result_items);
                    });
                  }
                  */
              }
            )

            //programmatically add/remove a tag
            var $tag_obj = $('#form-field-tags').data('tag');
            $tag_obj.add('Programmatically Added');

            var index = $tag_obj.inValues('some tag');
            $tag_obj.remove(index);
        }
        catch (e) {
            //display a textarea for old IE, because it doesn't support this plugin or another one I tried!
            tag_input.after('<textarea id="' + tag_input.attr('id') + '" name="' + tag_input.attr('name') + '" rows="3">' + tag_input.val() + '</textarea>').remove();
            //autosize($('#form-field-tags'));
        }

        $("#jqGrid").jqGrid({
            url: 'GetAttributes',
            datatype: 'json',
            mtype: 'Get',
            colNames: ['AttributeId', 'AttributeName', 'AttributeValues'],
            colModel: [
                { key: true, hidden: true, name: 'AttributeId', index: 'AttributeId', editable: true },
                { key: false, name: 'AttributeName', index: 'AttributeName', editable: true },
                { key: false, name: 'AttributeValues', index: 'AttributeValues', editable: true }
            ],
            pager: jQuery('#jqControls'),
            rowNum: 10,
            rowList: [10, 20, 30, 40, 50],
            height: '100%',
            viewrecords: true,
            caption: 'Supplier Records',
            emptyrecords: 'No Atrribute Records are Available to Display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                Id: "0"
            },
            autowidth: true,
            multiselect: false
        }).navGrid('#jqControls', { edit: true, add:false, del: true, search: false, refresh: true },
        {
            zIndex: 100,
            url: "Edit",
            closeOnEscape: true,
            closeAfterEdit: true,
            recreateForm: true,
            afterComplete: function (response) {
                if (response.responseText) {
                    alert(response.responseText);
                }
            }
        },
        {
            zIndex: 100,
            url: "Delete",
            closeOnEscape: true,
            closeAfterDelete: true,
            recreateForm: true,
            msg: "Are you sure you want to delete Student... ? ",
            afterComplete: function (response) {
                if (response.responseText) {
                    alert(response.responseText);
                }
            }
        });
       
    });
</script>